n8n:
  name: {{ n8n_name }}
  image: {{ n8n_image }}
  username: {{ n8n_username }}
  password: {{ n8n_password }}
  protocol: {{ n8n_protocol }}
  port: {{ n8n_port }}
  domain_name: {{ n8n_domain_name }}
  webhookUrl: "{{ n8n_protocol }}://{{ n8n_domain_name }}"
  timezone: {{ n8n_timezone }}
  postgres:
    db_type: {{ postgres_db_type }}
    host: {{ postgres_host }}
    port: "{{ postgres_port }}"
    database: {{ postgres_database }}
    user: {{ postgres_user }}
    password: {{ postgres_password }}
  ingress:
    enabled: true
    className: {{ ingress_className }}
    annotations:
{% for key, value in ingress_annotations.items() %}
      {{ key }}: {{ value | to_json }}
{% endfor %}
    tls:
      enabled: true
      secretName: {{ ingress_tls_secretname }}